:root {
    --nav-bg: rgba(219, 219, 219, .8);
    --nav-bg-hover: rgba(173, 173, 173, .8);
    --nav-text-hover: rgba(111, 117, 128, .6);
    --nav-active: rgba(49, 54, 61, .6);
    --nav-border-radius: 0rem 0rem .75rem .75rem;
    --nav-height: 5rem;
    --nav-v-pad: 1rem;
    --night-tile-bg: #b58abb;
    --day-tile-bg: #d6293d;
    --time-tile-bg: #43bc93;
    --hum-tile-bg: #3a8fc5;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #ececec !important;
    margin: 0;
    height: 100vh;
}

ul {
    margin: 0;
    padding: 0 !important;
    list-style: none;
}

.button {
    background-color: var(--nav-text-hover);
    padding: 10px 10px;
    border-radius: 6px 6px 6px 6px;
    color: black;
    transition: background-color 350ms ease, color 400ms ease-in;
}

.button:hover {
    background-color: var(--nav-active);
    color: #aad5fa;
    transition: background-color 400ms ease, color 350ms ease-in;
}

.nudge-right {
    margin-left: 35px;
}
