<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
  <title>Janet</title>
</head>
<body>

  <section id="nav-bar">
    <grid-container id="nav-container">
      <grid-item>
        <div>
          LOGO
        </div>
      </grid-item>
      <grid-item id="nav-item">
        <nav>
          <ul>
            <li><a class="{% if page == 'home' %}active{% endif %}" href="{{ url_for('public.home') }}">Home</a></li>
            <li><a class="{% if page == 'habitat' %}active{% endif %}" href="{{ url_for('habitat.home') }}">Habitat</a></li>
            <li><a class="{% if page == 'about' %}active{% endif %}" href="{{ url_for('public.about') }}">About</a></li>
          </ul>
        </nav>
      </grid-item>
      <grid-item>
        <div>
          USER DETAILS
        </div>
      </grid-item>
    </grid-container>
  </section>

  <div class="container mt-3">
    {% block container %}{% endblock%}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

  <script>
    let readings = {{ readings }};
    var options = {
      chart: {
          type: 'line'
      },
      series: [{
          name: 'Temperature',
          data: readings
      }]
    }

    var chart = new ApexCharts(document.querySelector("#chart"), options);


    chart.render();
  </script>

</body>
</html>