{% extends "habitat-nav.html" %}

{% block content %}

    <h5 class="text-center mt-2">Readings</h5>

    <form action="{{ url_for('habitat.readings') }}" method="POST" id="readings_form">
        {{ form.csrf_token() }}

        <div class="d-flex justify-content-center">
            <div class="row mt-3">
                <div class="">
                    <span class="pe-1">{{ form.unit.label }}</span> - <span class="ps-1 pe-4">{{ form.unit(class="text-center") }}</span>
                    <span class="pe-1">{{ form.time.label }}</span> - <span class="ps-1">{{ form.time(style="width: 5rem", class="text-center") }}</span>
                </div>
            </div>
        </div>

        {% if form.errors %}
            {{ form.errors }}
        {% endif %}

        <div class="d-flex justify-content-center">
            <div class="row mt-3">
                <button id="submit-btn" class="btn btn-primary" type="submit">Show Graph</button>
            </div>
        </div>

    </form>

    <div class="d-flex justify-content-center">
        <div id="habi_graph" class="ms-3"></div>
    </div>

    
{% endblock %}


{% block scripts %}

    <script>
        // This is not ideal!!!
        if ( "{{ habitat_graph }}" !== "None" ) {
            var graph = {{ habitat_graph | safe }};
            Plotly.plot('habi_graph', graph, {});
        }
    </script>

{% endblock %}